* {
    margin: 0;
    padding: 0;
  }
  
  .left {
    width: 500px;
    height: 800px;
  }
  
  .right {
    height: 900px;
  }
  .left1 {
    float: left
  }
  
  .right1 {
    margin-left: 200px;
  }